# Override the domain thats is used in the blobs "url" field
# By default it uses the domain the incoming HTTP request was made on
publicDomain: ""

databasePath: data/sqlite.db

dashboard:
  # enable or disable the admin dashboard
  enabled: true
  # admin username
  username: admin
  # if password is left blank it will be generated each time the app starts
  # password: ""

discovery:
  # find files by querying nostr relays
  nostr:
    enabled: false
    relays:
      - wss://relay.example.com
  # find files by asking upstream CDNs
  # NOTE: do not set this to your own server, it will create an infinite loop
  upstream:
    enabled: false
    domains:
      - https://cdn.example.com

storage:
  # local or s3
  backend: local

  # Imminently removes a blob when there are no owners
  removeWhenNoOwners: false

  # local storage
  local:
    dir: ./data/blobs

  # see minio docs for options:
  # https://min.io/docs/minio/linux/developers/javascript/API.html#new-minio-client-endpoint-port-usessl-accesskey-secretkey-region-transport-sessiontoken-partsize
  # s3:
  #   endpoint: https://s3.endpoint.com
  #   port: 443
  #   bucket: blossom
  #   accessKey: xxxxxxxx
  #   secretKey: xxxxxxxxx
  #   useSSL: true
  #   region: us-east-1
  #   If this is set the server will redirect clients when loading blobs
  #   publicURL: https://s3.region.example.com/

  # rules are checked in descending order. if a blob matches a rule it is kept
  # "type" (required) the type of the blob, "*" can be used to match any type
  # "expiration" (required) time passed since last accessed
  # "pubkeys" (optional) a list of owners
  # any blobs not matching the rules will be removed
  rules:
    # mime type of blob
    - type: text/*
      # time since last accessed
      expiration: 1 month
    - type: "image/*"
      expiration: 1 week
    - type: "video/*"
      expiration: 5 days
    - type: "model/*"
      expiration: 1 week
    - type: "*"
      expiration: 2 days

# Config for the /upload endpoint
upload:
  # enable / disable uploads (default false)
  enabled: true
  # require auth to upload
  # requireAuth: true
  requireAuth: true
  # only check rules that include "pubkeys"
  requirePubkeyInRule: false

# Config for the /media endpoint
media:
  # /media endpoint enabled (default false)
  enabled: false
  # require auth to upload to /media
  requireAuth: true
  # only check rules that include "pubkeys"
  requirePubkeyInRule: false

  # image optimization options
  image:
    # image quality 0-100 (default 90)
    quality: 90
    # create progressive jpeg / png images for large images > 1024x768 (default true)
    progressive: true
    # max width (default 1920)
    maxWidth: 1920
    # max height (default 1080)
    maxHeight: 1080
    # image format (default webp)
    outputFormat: "webp"
    # keep aspect radio when resizing (default true)
    maintainAspectRatio: true
    # keep EXIF metadata (default false)
    keepExif: false
    # fps for GIFs (default 30)
    fps: 30

  video:
    # video quality 0-100 (default 90)
    quality: 90
    # max height (default 1080)
    maxHeight: 1080
    # max fps (default 30)
    maxFps: 30
    # output format [mp4, webm, mkv] (default mp4)
    format: "webm"
    # audio codec [aac, mp3, vorbis, opus] (default aac)
    audioCodec: "aac"
    # video codec [libx264, libx265, vp8, vp9] (default libx264)
    videoCodec: "libx264"

list:
  requireAuth: false
  allowListOthers: true

tor:
  enabled: false
  proxy: ""
