name: Rust Build & Test

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        name: Build & Test

        runs-on: ubuntu-latest
        strategy:
            matrix:
                toolchain:
                    - stable
                    - beta
                    - nightly

        steps:
            - uses: actions/checkout@v4
            - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
            - name: Build
              run: cd src-tauri && cargo build --verbose
            - name: Run tests
              run: cd src-tauri && cargo test --verbose
